@model NNV.Models.Prisustvo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Да ли сте сигурни да желите да обришете?</h3>
    <div>
        <h4>Присуствo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Clanovi.ImePrezime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Clanovi.ImePrezime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sednice.VrstaSednice)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sednice.VrstaSednice)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Prisutan)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Prisutan)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Opravdano)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Opravdano)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Повратак на табелу", "Index")
            </div>
        }
    </div>
</body>
</html>
