@model IEnumerable<NNV.Models.Clanovi>

@{
    Layout = "/Views/Shared/_NNVLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImePrezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KorisnickoIme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lozinka)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImePrezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KorisnickoIme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lozinka)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ClanID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ClanID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ClanID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
