
@model IEnumerable<NNV.Models.Clanovi>

@{
    Layout = "/Views/Shared/_AdminPageLayout.cshtml";
}

@*@Html.Partial("_Tabela")*@
<h2>Чланови</h2>

<p>
    @Html.ActionLink("Нови унос", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(Model => Model.ClanID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImePrezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KorisnickoIme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lozinka)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.admin)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(Model => item.ClanID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImePrezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KorisnickoIme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lozinka)
            </td>
            <td>
                @Html.DisplayFor(model=>item.admin)
            </td>
            <td>
                @Html.ActionLink("Измени", "Edit", new { id = item.ClanID }) |
                @Html.ActionLink("Детаљи", "Details", new { id = item.ClanID }) |
                @Html.ActionLink("Обриши", "Delete", new { id = item.ClanID })
            </td>
        </tr>
    }

</table>

